.cssSVG{
  color : rgb(105, 155, 234);
}
.htmlSVG{
  color : orange;
}
.javascriptSVG{
  color : yellow;
}
.firebaseSVG{
  color : #F7C52E;
}
.bootstrapSVG{
  color : #7b1be9;
}
.reactSVG{
  color : #00FFFF;
}
.nodejsSVG{
  color : #93C745;
}
.mongodbSVG{
  color : #08EE69;
}